*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

a{
    text-decoration: none;
}

body{
    overflow-x: hidden;
    height: unset !important;
}

//fonts
//font-family: 'IBM Plex Mono', monospace;
//font-family: 'Manrope', sans-serif;
//font-family: 'Red Hat Text', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&family=Manrope:wght@400;600&family=Red+Hat+Text:wght@500&display=swap');


//GENERAL--------------------------------------------
$normal: 'Manrope', sans-serif;
$dop: 'IBM Plex Mono', monospace;
$featured: 'Red Hat Text', sans-serif;

//COLORS-----------------------------------------------
$black: #25252F;
$gradient: linear-gradient(240.65deg, #8CFFB3 -14.63%, #7676F7 104.98%);

//animations
$ease-quint: cubic-bezier(0.86, 0, 0.07, 1);

//TITLES-----------------------------------

h1{
    font-family: $normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 108%;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #000000;

    @media screen and (max-width: 905px) {
        font-size: 64px;
    }
    @media screen and (max-width: 678px) {
        font-size: 48px;
    }
}

h2{
    font-family: $normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 108%;
    /* identical to box height, or 52px */

    letter-spacing: -0.02em;
    text-transform: uppercase;

    background: linear-gradient(0deg, #000000, #000000), linear-gradient(310.15deg, #F2B2D5 -15.97%, #4200FF 130.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

h3{
    font-family: $normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;

    color: #FFFFFF;
}

h1.title{
    margin-bottom: 90px;
    @media screen and (max-width: 905px) {
        margin-bottom: 54px;
     //    font-size: 55px;
     //    line-height: 64px;
    }
    @media screen and (max-width: 678px) {
        margin-bottom: 0;
     //    font-size: 50px;
     //    line-height: 50px;
    }
    @media screen and (max-width: 490px) {
     //    font-size: 40px;
     //    line-height: 45px;
    }
 }
 h2.title{
    margin-bottom: 64px;
 
    @media screen and (max-width: 712px) {
         // font-size: 28px;
         // line-height: 28px;
     }
    @media screen and (max-width: 413px) {
         // font-size: 24px;
         // line-height: 28px;
     }
 }
 h3.title{
     //margin-bottom: 30px;
 }
 h4.title{
     //margin-bottom: 18px;
     @media screen and (max-width: 618px) {
         // font-size: 16px;
         // line-height: 20px;
     }
 }

body, html {
    //transform-style: preserve-3d; 
}

body{
    font-family: $dop;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;

    color: #000000;

    &._lock{
        overflow: hidden;
    }
}


section{

}

section._movable{
    border-radius: 64px;
    padding: 72px 0 88px;
    // transform: translateZ(0px);
}

h1, h2, h3, h4, h5, p{
    cursor: default; 
}

._container{
    max-width: 1152px;
    margin: 0 auto;

    @media screen and (max-width: 1200px) {
        max-width: 90%;
    }
    @media screen and (max-width: 370px) {
        max-width: 95%;
    }
}

._btn{
    font-family: $normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    transition: all .3s $ease-quint;

    height: 48px;
    width: 164px;

    &:hover, &:active{
        background-color: #fff;
        color: #000;
        background-color: transparent;
    }
}


.custom-logo-link {
    width: 132px;
    cursor: pointer;

    display: flex;
    align-items: center;
    color: #fff;

    .logo{
        width: 100%;
        height: auto;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg{
            width: 100%;
            height: auto;
        }
    }

    &.custom-logo-link__mob{
        max-width: 132px;
        display: flex;
        align-items: center;
        color: #fff;

        @media screen and (max-width: 829px){
            max-width: 132px;
        }
        .logo{
            width: 100%;
            height: auto;
            margin-right: 15px;

            svg{
                width: 100%;
                height: auto;
            }
        }
    }
}


//HEADER-------------------------------------------------------
.header {
    padding: 16px 0;
    position: fixed;
    z-index: 6;
    width: 100%;
    top: 0;
    left: 0;

    @media screen and (max-width: 905px) {
        padding: 34px 0;
    }

    //.header__wrapper 
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    //.header__logo 
    &__logo {
        flex: 0 0 132px;

        @media screen and (max-width: 678px) {
            flex: 0 0 100px;
            .custom-logo-link{
                width: 100%;
            }
        }
    }
    
    //.header__logo__mob 
    &__logo__mob {
        display: none;

        @media screen and (max-width: 1020px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 40px;

            .custom-logo-link{
                width: 120px;
            }
        }
    }
}


.menu {
    flex: 0 1 89%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    //.menu__box 
    &__box {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        //transition: all .3s $ease-quint;

        @media screen and (max-width: 1020px) {
            flex: unset;
            position: fixed;
            z-index: 9;
            width: 40%;
            height: 100%;
            top: 0;
            bottom: 0;
            right: -100%;
            flex-direction: column;
            overflow: auto;
            background-color: $black;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 30px 80px 30px 30px;
            transition: all 0.7s $ease-quint 0.8s;

            &._active-menu{
                right: 0;
            }

            
        }
        @media screen and (max-width: 829px){
            width: 100%;
            padding: 30px;
        }
    }
    
    //.menu__list 
    &__list {
        flex: 1 0 auto;
        max-width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 1170px){
            max-width: 75%;
        }

        @media screen and (max-width: 1020px){
            flex-direction: column;
            align-items: flex-start;
            max-width: unset;
            width: 100%;
            justify-content: unset;
            flex: unset;

            border-bottom: 1px solid #fff;
            margin-bottom: 30px;
            padding-bottom: 30px;

            li{
                
                &:last-child{
                    a{
                        margin-bottom: 0;
                    }
                }

                
            }
        }
    }
    
    //.menu__item 
    &__item {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #000;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        transition: all .2s $ease-quint;
        margin: 0 10px;

        &:hover{

            // background: -webkit-linear-gradient(240.65deg, #8CFFB3 -14.63%, #7676F7 104.98%);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            color: #865CFC;
        }

        @media screen and (max-width: 1020px){
            font-size: 27px;
            color: #fff;
            line-height: 27px;
            margin: 0 0 25px 0;

            
        }
        @media screen and (max-width: 829px){
            font-size: 33px;
            margin: 0 0 35px 0;
        }

    }
    
    //.menu__btn 
    &__btn {
        background-color: #000;
        width: 148px;

        @media screen and (max-width: 1020px){
            width: 100px;
            height: 33px;
            padding: 5px;
            margin-right: 35px;
        }

        &:hover{
            border-color: #000;
        }
    }
    //.menu__close 
    &__close {
        width: 31px;
        height: 22px;
        position: relative;
        transform-origin: center;
        transition: all 1.7s $ease-quint;

        &._active-menu{
            transform: rotate(-720deg);
        }

        &::before, &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 40%;
            height: 3.29px;
            border-radius: 30px;
            background-color: #fff;
            width: 100%;
            transform: translate(0, -50%);
            
        }

        &::before{
            transform: rotate(45deg);
        }
        &::after{
            transform: rotate(-45deg);
        }
    }

    //.menu__open 
    &__open {
        display: none;

        @media screen and (max-width: 1020px){
            display: flex;
            position: relative;
            z-index: 8;
            width: 31px;
            height: 22px;
            cursor: pointer;
            transition: all .2s ease;
            
            span, &:before, &::after{
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 3.29px;
                border-radius: 30px;
                background-color: #000;
                left: 0;
                transition: all .2s $ease-quint;
            }

            span{
                top: 0px;
                opacity: 1;
            }
            &::before{
                top: 8.5px;
            }
            &::after{
                bottom: 0px;
            }

            &._active-menu{
                span, &:before, &::after{
                    //background-color: #fff;
                    width: 50%;
                }

                //transform: translate(80px, 10px);
                span{
                    transition: width .4s cubic-bezier(0.68,-0.55,0.265,1.55) 0.2s;
                    // opacity: 0;
                }
                &::before{
                    transition: width .6s cubic-bezier(0.68,-0.55,0.265,1.55) 0s;
                    // transform: rotate(-45deg);
                    // top: 14px;
                }
                &::after{
                    transition: width .2s cubic-bezier(0.68,-0.55,0.265,1.55) 0.4s;
                    // transform: rotate(45deg);
                    // top: 14px;
                }
            }

            
        }

        // @media screen and (max-width: 945px){
        //     &._active-menu{
        //         transform: translate(60px, 10px);
        //     }
        // }
        // @media screen and (max-width: 894px){
        //     &._active-menu{
        //         transform: translate(45px, 10px);
        //     }
        // }
        // @media screen and (max-width: 850px){
        //     &._active-menu{
        //         transform: translate(37px, 10px);
        //     }
        // }
        // @media screen and (max-width: 829px){
        //     &._active-menu{
        //         transform: translate(12px, 20px);
        //     }
        // }
        // @media screen and (max-width: 650px){
        //     &._active-menu{
        //         transform: translate(0px, 20px);
        //     }
        // }
    }
    
}

//MAIN-SECTION----------------------------------------------
.main {
    overflow: hidden;
    
    background-image: linear-gradient(180deg, #D6D3FF 0%, #D9ABDD 99.99%, rgba(242, 178, 213, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

    @media screen and (max-width: 905px) {
        padding: 110px 0 58px;
    }

    
    //.main__container 
    &__container {
        padding: 140px 0 58px;
        position: relative;

        @media screen and (max-width: 905px) {
            padding: unset;
        }
    }

    //.main__grid
    &__grid{
        position: absolute;
        top: 58px;
        left: 0;
        width: 100%;
        height: auto;

        @media screen and (max-width: 1200px) {
            top: 50%;
            transform: translate(0, -50%);
        }
        @media screen and (max-width: 905px) {
            top: 40px;
            transform: translate(0, 0%);
            width: unset;
            height: unset;
        }
        @media screen and (max-width: 678px) {
            transform: translate(-50%, 0%);
        }
        svg{
            width: 100%;
            height: auto;

            @media screen and (max-width: 905px) {
                width: unset;
                height: unset;
            }
        }
    }

    
    //.main__wrapper  
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        z-index: 3;

        @media screen and (max-width: 678px) {
            flex-direction: column;
            align-items: center;
        }
    }
}

.main__model {
    position: absolute;
    //position: relative;
    top: 0px;
    left: 38%;
    width: 596px;
    height: 853px;
    z-index: 2;

    &.model__desk{
        @media screen and (max-width: 678px) {
            display: none;
        }
    }
    &.model__mob{
        display: none;
        @media screen and (max-width: 678px) {
            display: block;
            position: relative;
            top: unset;
            left: unset;
            flex: 0 0 100%;
            // width: 475px;
            // height: 666px;


            margin-bottom: -375px;

        }
    }


    @media screen and (max-width: 905px) {
        top: -79px;
        left: 27%;
    }
    @media screen and (max-width: 742px) {
        left: 22%;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media screen and (max-width: 678px) {
            position: absolute;
            // top: -12px;
            // left: -50px;
            // width: 100%;
            // height: 100%;
            // object-fit: cover;

            top: -59px;
            left: -20px;
            width: 475px;
            height: 666px;
            z-index: -1;
        }
        @media screen and (max-width: 470px) {
            left: -92px;
        }
        @media screen and (max-width: 375px) {
            top: -59px;
            left: -140px;
        }
    }
}

.main-content {
    flex: 0 0 53%;

    //.main-content__overtake 
    &__overtake {
        
        max-width: 138px;
        width: 100%;
        background: #FFFFFF;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px 0;
        margin-bottom: 24px;

        @media screen and (max-width: 905px) {
            margin-bottom: 40px;
        }
        @media screen and (max-width: 678px) {
            margin-bottom: 11px;
        }

    }
    //.main-content__overtake__text 
    &__overtake__text {
        overflow: hidden;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        font-family: $dop;
    }
    .main__title{
        .show-video {
            background-image: url(../assets/img/gif.gif);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;

            display: inline-flex;
            align-items: center;
            text-transform: uppercase;
            justify-content: flex-end;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            width: 200px;
            height: 88px;
            transform: translate(0, -26px);
            padding-right: 24px;

            @media screen and (max-width: 905px) {
                width: 156px;
                height: 69px;
                transform: translate(0, -10px);
            }
            @media screen and (max-width: 678px) {
                width: 130px;
                height: 58px;
                transform: translate(0, -5px);
            }

            svg{
                margin-right: 11px;
                path{
                    transition: all .3s $ease-quint;
                }
            }

            &:hover{
                color: #865CFC;
                svg{
                    path{
                        fill: #865CFC;
                    }
                }
            }
        }
    }
}


.main-socials {
    max-width: 452px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 678px) {
        flex-direction: column;
        max-width: unset;
        margin-right: 30px;
        flex: 0 0 104px;
    }

    &.main-content__socials {
        @media screen and (max-width: 678px) {
            display: none;
        }
    }
    &.main-banner__socials{
        display: none;
        @media screen and (max-width: 678px) {
            display: flex;
            position: relative;
            z-index: 2;
        }
    }

    //.main-socials__item 
    &__item {
        background-color: #fff;
        color: #000;
        width: 140px;
        margin-right: 16px;

        &:last-child{
            margin-right: 0;
        }

        @media screen and (max-width: 678px) {
            width: 104px;
            margin-right: 0;
            margin-bottom: 37px;
            font-size: 14px;

            &:last-child{
                margin-bottom: 0;
            }
        }

        &:hover, &:active{
            background-color: #000;
            color: #fff;
        }
    }
}


.main-banner {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: 678px) {
        flex-wrap: wrap;

        // justify-content: space-between;
        justify-content: flex-start;
    }
    @media screen and (max-width: 450px) {
        flex-wrap: wrap;

        // justify-content: space-between;
        justify-content: space-between;
    }
    
    
}

.main-description {
    max-width: 265px;
    width: 100%;

    @media screen and (max-width: 678px) {
        max-width: 170px;
    }

    &.main-content__description{
        display: none;
        @media screen and (max-width: 905px) {
            display: block;
            margin-bottom: 34px;
        }
        @media screen and (max-width: 678px) {
            display: none;
        }
    }
    &.main-banner__description {
        @media screen and (max-width: 905px) {
            display: none;
        }
        @media screen and (max-width: 678px) {
            display: block;
        }
    }

    
    //.main-description__title 
    &__title {
        max-width: 230px;
        font-weight: 600;
        font-size: 40px;
        line-height: 108%;
        font-family: $normal;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 24px;

        @media screen and (max-width: 678px) {
            font-size: 36px;  
            margin-bottom: 18px;
            line-height: 39px;  
        }
    }
    
    //.main-description__subtitle 
    &__subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-transform: capitalize;
        color: #000000;

        @media screen and (max-width: 678px) {
            font-size: 14px;
            line-height: 20px;
            max-width: 138px;
        }
    }
}


//ECOSYSTEM-SECTION----------------------------------------
.ecosystem {
    
    
    //.ecosystem__wrapper 
    &__wrapper {
    }
    
    //.ecosystem__head__container 
    &__head__container {
    }
    
    //.ecosystem__text__block 
    &__text__block {
    }
    
    //.ecosystem__title 
    &__title {
    }
    
    //.ecosystem__subtitle 
    &__subtitle {
    }
}


.ecosystem-earn-label {
    
    //.ecosystem-earn-label__circle 
    &__circle {
    }
    
    //.ecosystem-earn-label__crossovok 
    &__crossovok {
    }
}


.ecosystem-list {
    
    //.ecosystem-list__card {
    &__card {
    }
    
    //.ecosystem-list__title {
    &__title {
    }
    
    //.ecosystem-list__text {
    &__text {
    }
}



//FOOTER----------------------------------------------------
.footer {
    padding: 56px 0 37px;
    background-color: $black;

    .footer__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer__logo__conatiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 132px;

        .custom-logo-link{

            margin-bottom: 43px;
            .logo{
                margin-right: 0;
            }
        }
        .zorelit{
            width: 32px;
            display: flex;
            svg{
                width: 100px;
                height: auto;
            }
        }
    }
    .footer__btn__conatiner {
        flex: 0 0 164px;
    }
    .footer__btn {
    }
}


.footer-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 425px;
    width: 100%;
    margin-right: 25px;

    .footer-main__list {
        width: 100%;
        margin-bottom: 46px;
        display: flex;
        justify-content: space-between;

    }
    .footer-main__item {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }

    .footer-copyrights {
        display: flex;
        max-width: 230px;
        width: 100%;
        justify-content: space-between;

        a{
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #686884;
        }
    }
}







